*{box-sizing: border-box;}

/* ! Reset */
body{margin: 0;font-family: 'Roboto', sans-serif;}
img{width: 35%;}


/* Header */
h1{color: purple; text-align: center;}

/* ! Titolo */
.title p{max-width: 1000px; margin: 0 auto; text-align: center; padding-bottom: 30px;}
.text{padding: 10px;}
.text >p{margin-bottom: 0px;}

h3{margin: 0;}

/* Container */
.container{max-width: 1000px; margin: 0 auto;}
.container > div{width: calc(100% / 3);}
.row_2{margin-top: 50px;}


.float-left{float: left;}

.clearfix::after {content: "";clear: both;display: table;}

.card{background-color: black; color: white;}

.text-blue{color: lightskyblue;}
